.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .5s;
}

.modal.active {
  pointer-events: all;
  opacity: 1;
}

.modal__content {
  padding: 40px 30px;
  border-radius: 10px;
  background-color: #fff;
  transition: 0.2s all;
  transform: scale(0.8);
  pointer-events: none;
}

.modal__content.active {
  transform: scale(1);
  pointer-events: all;

}